

a {
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #36536b;
  opacity: 0.7;
  letter-spacing: -0.10px;
}

p{
color: #6C8294;
font-family: sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

a:hover {
  opacity: 1;
}

h1, h2, h4, h5 {
  font-family: serif;
}

h1 {
  font-size: 4.5rem;
  color: #36536b;
  line-height: 4.5rem;
  letter-spacing: -0.60px;
}


.about h1{
  margin: 5rem 33rem 3rem 16rem;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.43px;
}

@media (max-width: 1023px) {
  .about h1 {
    margin: 5rem 6rem 3rem 16rem;
    font-size: 3rem;
    letter-spacing: -0.37px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .about h1 {
    margin: 5rem 11rem 3rem 11rem;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.25px;
    text-align: center;
  }
}

h2 {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.37px;
  color: #36536b;
  margin: 15px 0;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.25px;
  }
}


h4 {
  color: #b9416f;
  font-size: 2rem;
  letter-spacing: -0.25px;
  line-height: 2.5rem;
}

@media (max-width: 1023px) {
  h4 {
    font-size: 1.5rem;
    letter-spacing: -0.18px;
  }
}

h5 {
  font-size: 3.5rem;
  letter-spacing: -0.43px;
  line-height: 4.5rem;
  color: #36536b;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  h5 {
    font-size: 3rem;
    letter-spacing: -0.37px;
    margin: 0 auto;
  }
}

button, .button {
  padding: 0.9rem 1.6rem;
  border-radius: 2.6rem;
  background-color: #b9416f;
  box-shadow: 10px 10px 25px rgba(55, 84, 109, 0.268);
}

@media (max-width: 767px) {
  .hide_mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide_desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide_tablet {
    display: none;
  }
}

.links a:not(:first-of-type) {
  margin-left: 2.5rem;
}

@media (max-width: 767px) {
  .links a:not(:first-of-type) {
    margin-left: 0;
  }
}


.background-container-others{
    background: url("IMG/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;
    background-position: 49rem -28rem;
    width: 100%;
    background: #EDF3F8;
    cursor: pointer;
}
@media (max-width: 1023px) {
  .background-container-others {
    background-position: 25rem -31rem;
  }
}

@media (max-width: 767px) {
  .background-container-others {
    background-position: 13rem -31rem;
  }
}

.action{
  padding: 6rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.action h2 {
  color: #36536b;
  font-size: 48px;
  font-style: normal;
  font-weight: 700px;
  line-height: 56px;
}
@media (max-width: 767px) {
  .action {
    display: block;
    align-items: center;
  }

}

@media (max-width: 1023px) {
  .action {
    display: block;
    align-items: center;
  }

}

.form-email{
  background-color: hsl(220, 60%, 99%);
  border-radius: 2.6rem;
  display:flex;
  width: 28rem;
  box-shadow: 10px 10px 25px -10px hsla(207, 33%, 32%, 0.251); 
}

@media (max-width: 767px) {
  .form-email {
    box-shadow: none;
    background-color: unset;
    flex-direction: column;
    width: 28rem;
    gap: 1rem;
  }
}

.form-email input[type=email]{
  color: hsl(207, 33%, 32%);
  font-weight: 700;
  padding: 0.9rem 0.3rem 0.9rem 1.7rem;
  width: 28rem;
  border: none;
  border-radius: 2.6rem;
}

.form-email input:focus{
  outline: none;
  opacity: 1;
}

@media (max-width: 767px) {
  .form-email input[type=email] {
    width: 27rem;
    box-shadow: 10px 10px 25px -10px hsla(207, 33%, 32%, 0.251); 
    padding: 0.9rem 0.6rem;
  
  }
}

.form-email .btn-form{
  border:none;
  border-radius: 2.6rem;
  padding: 0.9rem 1.6rem;
  background-color: hsl(337, 48%, 49%);
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(220, 60%, 99%);
}

.form-email .btn-form:hover{
  background-color: hsl(337, 60%, 64%);
  cursor: pointer;
}

@media (max-width: 767px) {
  .form-email .btn-form {
    text-align: center;
  }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 10rem;
}

@media (max-width: 1023px) {
  .header {
    padding: 2.5rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 2.5rem 1.5rem;
  }
}

  .header_logo {
    flex: 1;
}
  
  .header_logo a {
    opacity: 1;
}
  
  .header .navigation {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 767px) {
  .header .navigation {
    flex: 1;
    justify-content: flex-end;
  }

 .header_menu span:not(:first-child) {
    margin-top: 0.25rem;
  }
  .header_menu span {
    display: block;
    width: 1.75rem;
    height: 0.1875rem;
    background: #1c2731;
  }
}



.header_action {
  border:none;
  border-radius: 2.6rem;
  padding: 0.9rem 1.6rem;
  background-color: hsl(337, 48%, 49%);
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(220, 60%, 99%);
  opacity: 1;
}

.header_action:hover {
  background-color: hsl(337, 60%, 64%);
}

.footer {
  display:flex;
  justify-content:space-between;
  align-items: center;
  background: #1B262F;
  background-image: url("IMG/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-size: 48.75rem, 100%;
  background-position: 61.25rem -9.375rem;
  padding: 1.9375rem 10.3125rem;
  }

  @media (max-width: 1023px) {
    .footer {
      padding: 1.9375rem 2.5rem;
      background-position: 25rem -9rem, center;
    }
  }
  
  @media (max-width: 767px) {
    .footer {
      background-position: center 6.875rem, center;
      padding: 3rem 7.5rem;
      flex-direction: column;
      gap: 2.5rem;
    }
  }
  
  .footer_logo {
    flex: 1;
  }
  
  .footer_logo a {
    opacity: 1;
  }
  
  .footer_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    .footer_section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
    }
  }

  @media (max-width: 767px) {
    .footer_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  
  .footer_links a {
    color: hsl(220, 60%, 99%);
  }
  
  @media (max-width: 767px) {
    .footer_social {
      display: flex;
    }
  }
  .footer_social i{
    color: hsl(220, 60%, 99%);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .footer_social i:hover {
    color: hsl(337, 60%, 64%);
  }
  
  .footer_social i:not(:first-child) {
    margin-left: 1.5rem;
  }


  .about{
    background: url("IMG/shared/desktop/bg-pattern-circle.svg");
    background-repeat: no-repeat;;
    background-position: -500px 400px;
}

@media (max-width: 1023px){
  .about{
  background: none;}
}

.about_statements{
  display:flex;
  flex-direction: column;
  gap: 56px;
  padding: 0 260px;
}

@media (max-width: 1023px){
  .about_statements{
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 0px 50px;
}
}

@media (max-width: 767px){
  .about_statements{
    gap: 56px;
  padding: 0 24px;
}
}

.about_statements .statement {
  display: flex;
}

@media (max-width: 767px){
  .about_statements .statement {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}

.about_statements .statement h2 {
  flex: 1;
  font-size: 32px;
}
@media (max-width: 767px){
  .about_statements .statement h2 {
    font-size: 24px;
  }
}

.about_statements .statement p {
  flex: 1;
}


.about_image{
  background-image: url(IMG/about/desktop/image-team-members.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 60vh;
}

@media (max-width: 1023px){
  .about_image {
   background-image: url(IMG/about/tablet/image-team-members.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   width: 100vw;
   height: 45vh;
  }
}

@media (max-width: 767px){
  .about_image {
   background-image: url(IMG/about/mobile/image-team-members.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   width: 100vw;
   height: 70vh;
  }
}

  .about_stats{
    margin-bottom: 100px;
    padding: 0 165px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 1023px){
  .about_stats{
    padding: 0 rem(40);
}
}

@media (max-width: 767px){
  .about_stats{
  margin:  0 24px 100px;
  padding: none;
  flex-direction: column;
  border-top: 1px solid rgba(54, 83, 107, 0.255) ;
  border-bottom: 1px solid rgba(54, 83, 107, 0.255);
}
}

.about_stats .stat{
    padding: 1rem 0;
    border-top: 1px solid #36536b41;
    border-bottom: 1px solid rgba(54, 83, 107, 0.255);
    width: 100%;
    margin: 0 auto;
  }
  @media (max-width: 767px){
    .about_stats .stat{
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .about_stats .stat h5 {
    color: hsl(337, 48%, 49%);
  }

