@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');
:root {
  /* Font Family */
  --font-dm-serif: 'DM Serif Display', serif;
  --font-public-sans: 'Public Sans', sans-serif;
  /* Font sizes */
  --font-h1-large: 4.5rem; /* 72px */
  /* Basic spacing */
  --spacing-lg: 3rem; /* 48px */
  /* Screen sizes */
  --screen-xl: 1110px;
  /* Primary color */
  
  /* Text */
  --dark-text: hsl(207, 33%, 32%);
  --light-text: hsl(220, 60%, 99%);
  --accent-text: hsl(207, 16%, 50%);
  --faded-text: hsl(207, 33%, 32%); 
  /* Buttons */
  --primary-button-hover: hsl(337, 60%, 64%);





 /* __________BACKGROUND__________ */

 --color-background: #edf3f8; 



 /* __________PRIMARY__________ */ 

 --color-primary-dark-pink: hsl(337, 48%, 49%);

}
/* ======================desktop======================== */
body {
    
    text-rendering: optimizeSpeed;
    background-color: #EDF3F8;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #6b8294;
    max-width: 1440px;
    min-width: 1024px;
    max-height: 1190px;
    
    box-sizing: border-box;
  
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    
}




  .header_logo {
    flex: 1;
}
  
  .header_logo a {
    opacity: 1;
}
  
  .header .navigation {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

  .header .navigation--active {
    position: absolute;
    background-color: #1c2731;
    background-image: url(/IMG/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: 800px auto;
    background-position: center -33.75rem;
    top: 0;
    right: 0;
    left: 4.6875rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2.73125rem 1.5rem 0;
    gap: 2rem;
    animation: slideIn 1s;
  }

  .header .navigation--active .navigation_menu {
    align-self: flex-end;
  }

  .header .navigation--active .navigation_menu span {
    background: white;
  }

  .header .navigation--active .navigation_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgba(251, 252, 254, 0.15);
    width: 100%;
    padding: 2.6875rem;
  }

  .header .navigation--active .navigation_links a {
    font-size: 1.25rem;
    opacity: 0.7;
    color: #fbfcfe;
  }

  .header .navigation--active .navigation_action {
    opacity: 1;
    width: 100%;
    display: block;
  }


/* .header_menu span {
  display: block;
  width: 1.75rem;
  height: 0.1875rem;
  background: #1c2731;
  transition: all 600ms ease-in-out;
  transform-origin: 4px 2px;
} */

.header_menu span:not(:first-child) {
  margin-top: 0.25rem;
}

.header_menu--active span:first-child {
  transform: rotate(45deg);
}

.header_menu--active span:nth-child(2) {
  opacity: 0;
}

.header_menu--active span:last-child {
  transform: rotate(-45deg);
}

.header_menu span:not(:first-child) {
  margin-top: 0.25rem;
}

.header_action {
  border:none;
  border-radius: 2.6rem;
  padding: 0.9rem 1.6rem;
  background-color: hsl(337, 48%, 49%);
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(220, 60%, 99%);
  opacity: 1;
}

.header_action:hover {
  background-color: hsl(337, 60%, 64%);
}

a {
    font-size: 15px;
    font-family: public-sans;
    font-weight: 700;
    text-decoration: none;
    color: hsl(207, 33%, 32%);
    opacity: 0.7;
    letter-spacing: -0.10px;
}

a:hover {
    opacity: 1;
}

button,
.button {
    padding: 0.9rem 1.5rem;
    border-radius: 1.5rem;
    background-color: hsl(337, 48%, 49%);
    box-shadow: rem(10) rem(10) rem(25) rgba(55, 84, 109, 0.268);
    color: hsl(220, 60%, 99%);
    opacity: 1;
}

.button:hover {
    opacity: 0.7;
}

.links a:not(:first-of-type) {
    margin-left: 2.5rem; 
 }

h1,
h2,
h3,
h4,
h5 {
    font-family: "DM Serif Display", serif;
}

h5 {
    color: #36536B;

    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    letter-spacing: -0.185px;
    margin-left: 10px;
    margin-right: 69px;
}

h1 {
    color: #36536B;
font-family: var(--font-dm-serif);
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 100% */
letter-spacing: -0.431px;
}

h3 {
    color: #36536B;

    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.contact_page_backround_picture {
    width: 780px;
    height: 780px;
    position: relative;
margin-left: -800px;
    margin-top: -500px;
    z-index: -1;
 
}

.contact_page_content {
    
   
     
}

.contact_page_main_content {
     padding-left: 165px;
     padding-right: 165px

}

.contact_page_conteiner_content {
    display: flex;

    justify-content: center;

    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.contact_page_conteiner_content_box_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;

}





.contact_page_conteiner_partners_box_tray {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
}

/* .contact_page_conteiner_partners_box_tray_item {} */

.contact_page_main_text {
    max-width: 730px;
    height: 133px;
    flex-shrink: 0;
    margin-top: 76px;
    margin-bottom: 15px;
}

.contact_page_user_information_form {

    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
    gap: 6px;
    
}

#contact_page_form_fname {
    background-color: #EDF3F8;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s
}
#contact_page_form_fname:hover {
    cursor: pointer;
}

#contact_page_form_email {
    background-color: #EDF3F8;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}
#contact_page_form_email:hover {cursor: pointer;}

#contact_page_form_company_name {
    background-color: #EDF3F8;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}
#contact_page_form_company_name:hover {cursor: pointer;}
#contact_page_form_title {
    background-color: #EDF3F8;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}
#contact_page_form_title:hover{cursor: pointer;}
.contact_page_form_button {
    background-color: #EDF3F8;
    width: 152px;
    height: 48px;
    flex-shrink: 0;
    color: #36536B;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    
}
.contact_page_form_button:hover {
    border-radius: 24px;
    border: 1px solid #36536B;
    width: 152px;
    height: 48px;
    flex-shrink: 0;
    background: #36536B;
    cursor: pointer;
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
}


.contact_page_form_checkbox_text {
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    font-weight: lighter;
    color: rgb(108, 130, 148);
    display: flex;
}
.contact_page_form_checkbox_text:hover {
    cursor: pointer;}

input[type="checkbox"] {
    opacity: 0.25;
    background: #36536B;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;

}

input[type="checkbox"]:checked{
    cursor: pointer;
    accent-color: #BA4270;
    opacity: 1;
}

input[type="checkbox"]:checked::after{
    cursor: pointer;
    background: #BA4270;
}

#contact_page_form_message {
    background-color: #EDF3F8;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
    padding-bottom: 15px;
    resize: none;
}
#contact_page_form_message:hover{
    cursor:pointer;
 }
.contact_page_form_warning_msg {
    color: rgb(255, 0, 0);
    align-self: flex-start;
    font-size: 0.688rem;
    letter-spacing: -0.005rem;
    margin-top: -15px;
    top: 9.375rem;
    left: 1.25rem;
    opacity: 0;
    /* visibility: hidden; */
    transition: all 250ms ease-in-out 0s;
}

.action{
     padding: 6rem 10rem;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
   width: 100%;
    
  }
  
  .action h2{
    color: #36536b;
        font-size: 48px;
        font-style: normal;
        font-weight: 700px;
        line-height: 56px;
        padding-left: 0px;
        padding-right: 0px;
  }

.form-email{
    background-color: hsl(220, 60%, 99%);
    border-radius: 24px;
    display:flex;
    width: 445;
    box-shadow: 10px 10px 25px -10px hsla(207, 33%, 32%, 0.251); 
}

input[type=email]:nth-of-type(1){
    color: hsl(207, 33%, 32%);
    font-weight: 700;
    padding: 14px 5px 14px 27px;
    width: 60%;
    border: none;
    border-radius: 24px;
}


input:focus{
    outline: none;
    opacity: 1;
}

.btn-form{
    border:none;
    border-radius: 24px;
    padding: 15px 26px;
    background-color: hsl(337, 48%, 49%);
    font-size: 15px;
    font-weight: 700;
    color: hsl(220, 60%, 99%);
}

.btn-form:hover{
    background-color: hsl(337, 60%, 64%);
}



/* .contact_page_bottom_section {
    min-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_page_bottom_section_text {

    line-height: 56px;
    letter-spacing: -0.369px;
    width: 445px;
}

.contact_page_bottom_section_button_side {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    max-width: 27.813rem;
    margin: auto;
    margin-right: 0;
    width: 100%;
    height: 3rem;
    font-weight: bolder;
    border-radius: 3.125rem;
    outline: none;
    border: none;
    padding-left: 1.688rem;
    color: rgb(54, 83, 107);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 16px;
    cursor: pointer;
}

.contact_page_bottom_section_input_button {
    width: 173px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #BA4270;
    color: rgb(251, 252, 254);
    border: none;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    cursor: pointer
}
.contact_page_bottom_section_input_button:hover {
    width: 173px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #DA6D97;
    color: rgb(251, 252, 254);
    border: none;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    cursor: pointer
}

.contact_page_bottom_section_input_field {
    color: #36536B;
    opacity: 0.5;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
} */

.footer {
    background: #1c2731;
    background-repeat: no-repeat;
    background-size: 49rem 100%;
    background-position: 61rem -9rem, center;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
}

.footer_logo {
    flex: 1;
}

.footer_logo {
    opacity: 1;
}

.footer_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.footer_links a {
    color: hsl(220, 60%, 99%);
    
}

.footer_social img {
    color: hsl(220, 60%, 99%);
    font-size: 1.5rem;
}

.footer_social img:hover {
    background-color: hsl(337, 60%, 64%);
    color: hsl(337, 60%, 64%);
}

.footer_social img:not(:first-child) {
    margin-left: 1.5rem;
}
.footer_logo{
    filter:invert(150%) sepia(107%) saturate(10%) hue-rotate(287deg) brightness(115%) contrast(100%);
}



/* ============Tablet====================== */
@media (max-width:1023px){     
    
    .contact_page_conteiner_content_box_inside{
        flex-direction: column;
    }
        .action{
             display: flex;
            flex-direction: column; 
            gap: 1rem;}
        
    
    }
    /* .links a:not(:first-of-type) {
        margin-left: 2.5rem;} */

a{
    margin: 0px;
}



/* =============mobile===================== */
@media (max-width:767px){     


    .header_links ,header button{
        display: none;
    }
    
    .footer {
        display: flex;
    flex-direction: column;
    
    }
    .footer_section{
        display: flex;
        flex-direction: column;
    }
    .footer_links{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    }
    .links a:not(:first-of-type) {
        margin-left: 0;

    }
    .contact_page_conteiner_partners_box_tray {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        justify-items: center;}
    }