body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    /* background-color: #EDF3F8; */
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #6b8294;
    width: 1440px;
    height: 1190px;

    box-sizing: border-box;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 10rem;
}

.header_logo {
    flex: 1;
}

.header_logo a {
    opacity: 1;
}

.header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 3;
    width: 1110;
    height: 48;
    padding: 0px 0px 0px 64px;
}

.header_action {
    letter-spacing: -0.12px;
    color: hsl(220, 60%, 99%);
    text-align: center;
}

.header_action:hover {
    background-color: #da6c96;
}

a {
    font-size: 15px;
    font-family: public-sans;
    font-weight: 700;
    text-decoration: none;
    color: hsl(207, 33%, 32%);
    opacity: 0.7;
    letter-spacing: -0.10px;
}

a:hover {
    opacity: 1;
}

button,
.button {
    padding: 0.9rem 1.5rem;
    border-radius: 1.5rem;
    background-color: hsl(337, 48%, 49%);
    box-shadow: rem(10) rem(10) rem(25) rgba(55, 84, 109, 0.268);
    color: hsl(220, 60%, 99%);
    opacity: 1;
}

.button:hover {
    opacity: 0.7;
}

.links a:not(:first-of-type) {
    margin-left: 2.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "DM Serif Display", serif;
}

h5 {
    color: #36536B;

    font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.185px;
    margin-left: 10px;
    margin-right: 69px;
}

h1 {
    font-size: 4.5rem;
    color: #36536b;
    line-height: 4.5rem;
    letter-spacing: -0.55px;
}

h3 {
    color: #36536B;

    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

.contact_page_backround_picture {
    width: 780px;
    height: 780px;
    position: absolute;
    right: -150px;
    top: -500px;
    z-index: -1;

}

.contact_page_content {
    display: block;



}

.contact_page_main_content {
    padding-left: 165px;
    padding-right: 165px;

}

.contact_page_conteiner_content {
    display: flex;

    justify-content: center;

    align-items: flex-start;
    flex-direction: column;
    gap: 5rem;
}

.contact_page_conteiner_content_box_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5rem;

}





.contact_page_conteiner_partners_box_tray {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
}

.contact_page_conteiner_partners_box_tray_item {}

.contact_page_main_text {
    width: 730px;
    height: 133px;
    flex-shrink: 0;
}

.contact_page_user_information_form {

    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-direction: column;
    gap: 1.5rem;
}

#contact_page_form_fname {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s
}

#contact_page_form_email {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}

#contact_page_form_company_name {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}

#contact_page_form_title {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;

}

.contact_page_form_button {
    width: 152px;
    height: 48px;
    flex-shrink: 0;
    color: #36536B;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
    cursor: pointer;
    background: #FBFCFE;
}

.contact_page_form_button:hover {
    border-radius: 24px;
    border: 1px solid #36536B;
    width: 152px;
    height: 48px;
    flex-shrink: 0;
    background: #36536B;
    cursor: pointer;
    color: #FBFCFE;
    text-align: center;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.115px;
}


.contact_page_form_checkbox_text {
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    font-weight: lighter;
    color: rgb(108, 130, 148);
    display: flex;


}

input[type="checkbox"] {
    opacity: 0.25;
    background: #36536B;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;

}

input[type="checkbox"]:checked{
    cursor: pointer;
    background: #BA4270;
}
input[type="checkbox"]:hover{
    cursor: pointer;
    background: #BA4270;}
input[type="checkbox"]:checked::after{
    cursor: pointer;
    background: #BA4270;
}

#contact_page_form_message {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    border-bottom: 0.063rem solid rgba(54, 83, 107, 0.5);
    padding: 1.063rem 1.25rem;
    color: rgb(54, 83, 107);
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.563rem;
    letter-spacing: -0.007rem;
    transition: all 250ms ease-in-out 0s;
}

.contact_page_form_warning_msg {
    color: rgb(255, 0, 0);
    align-self: flex-start;
    font-size: 0.688rem;
    letter-spacing: -0.005rem;
    margin-top: -15px;
    top: 9.375rem;
    left: 1.25rem;
    opacity: 0;
    /* visibility: hidden; */
    transition: all 250ms ease-in-out 0s;
}


.contact_page_bottom_section {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_page_bottom_section_text {

    line-height: 56px;
    letter-spacing: -0.369px;
    width: 445px;
}

.contact_page_bottom_section_button_side {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    max-width: 27.813rem;
    margin: auto;
    margin-right: 0;
    width: 100%;
    height: 3rem;
    font-weight: bolder;
    border-radius: 3.125rem;
    outline: none;
    border: none;
    padding-left: 1.688rem;
    color: rgb(54, 83, 107);
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 16px;
    cursor: pointer;
}

.contact_page_bottom_section_input_button {
    width: 173px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #BA4270;
    color: rgb(251, 252, 254);
    border: none;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    cursor: pointer
}
.contact_page_bottom_section_input_button:hover {
    width: 173px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #DA6D97;
    color: rgb(251, 252, 254);
    border: none;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    cursor: pointer
}

.contact_page_bottom_section_input_field {
    color: #36536B;
    opacity: 0.5;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.footer {
    background: #1c2731;
    background-repeat: no-repeat;
    background-size: 49rem 100%;
    background-position: 61rem -9rem, center;
    padding: 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    flex: 1;
}

.footer_logo {
    opacity: 1;
}

.footer_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.footer_links a {
    color: hsl(220, 60%, 99%);
}

.footer_social img {
    color: hsl(220, 60%, 99%);
    font-size: 1.5rem;
}

.footer_social img:hover {
    background-color: hsl(337, 60%, 64%);
    color: hsl(337, 60%, 64%);
}

.footer_social img:not(:first-child) {
    margin-left: 1.5rem;
}