.footer {
    background: #1c2731;
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: 980px -150px, center;
    padding: 31px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Public Sans;

}

.footer_logo {
    flex: 1;
}

.footer_logo {
    opacity: 1;
}

.footer_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.footer_links a {
    color: hsl(220, 60%, 99%);
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem;
    text-decoration: none;
}

.footer_social img {
    color: hsl(220, 60%, 99%);
    font-size: 1.5rem;
}

.footer_social img:hover {
    background-color: hsl(337, 60%, 64%);
    color: hsl(337, 60%, 64%);
}

.footer_social img:not(:first-child) {
    margin-left: 1.5rem;
}

.footer_logo {
    filter: invert(150%) sepia(107%) saturate(10%) hue-rotate(287deg) brightness(115%) contrast(100%);
} 

