* {
  box-sizing:border-box;
  padding: 0;
  
}
main{
  background-color: #edf3f8;
}
.container{
  max-width:1440px;
  margin:0 auto;

}
.plans{
  display: flex;
  justify-content: space-between;
  font-family: 'DM Serif Display', serif;
  
}
h1{
  text-align: left;
  font-size: 56px;
  color: #36536B; 
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.431px;
  font-family: 'DM Serif Display', serif;
}
.pricingtext{
  text-align: left;
  color:#36536B;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  padding-bottom: 13px;
  
}
form {
  text-align: right;;
}
.ready-to-start{
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  font-style:normal;
  letter-spacing: -0,369px;
  color: #36536B;
font-family: 'DM Serif Display', serif;
margin-bottom: -80px;
}
.bottom1{
  margin-bottom: 50px;
}
.plan h2{
  color: #ba4270;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.246px;
  
}
.request-access{
  font-size: 15px;
  border-radius: 24px;
  border: 1px solid #36536B;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.115px;
  line-height: normal;
  width:170px;
  padding:14px;
  background-color: #edf3f8;
  cursor: pointer;
  }
  .request-access:hover{
    background-color: #36536B;
    color: white;
  }
.schedule-button{
  background-color: #ba4270;
  color: #fbfcfe;
  border: none;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
 margin-bottom: 80px;
 border-radius: 24px;
  width:173px;
  padding:14px;
  border: solid black 1px;
  height: 48px;
  }
  .schedule-button:hover{
    opacity: 0.7;
    cursor: pointer;
    background-color: #DA6D97;
  }
.email{
  border-radius: 24px;

  border: none;
  background:#fbfcfe;
  color: #36536B;
  font-family: 'Public Sans', sans-serif;
  margin-right: -176px;
  width:400px;
  font-weight: 700;
  height: 48px;
  
  
}
ul{
  list-style: none;
  font-family: 'Public Sans', sans-serif;
}
li{
  padding: 7px;
  text-align: left;
  margin-right: 13px ;
  color: #36536B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
p{
  font-family: 'Public Sans', sans-serif;
  padding-top: 15px;
  color:#6c8294;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
padding: 4px;
}
li img{
  margin-right: 13px;
}
.t1 {
  opacity: 0.4;
  margin-left: 32px;
  font-family: 'Public Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
/*header start*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 160px;
  background-color: #edf3f8;
  margin-bottom: -38px;
  margin-top: -8px
}

.header_logo {
  flex: 1;
  display:flex; /*edit add*/
  justify-content: center;/*add edit*/
}

.header_logo a {
  opacity: 1;
}

.navigation {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_links {
flex-direction: column;
align-items: center;
gap: 32px;
width: 100%;
padding: 43;
}

.navigation_action {
opacity: 1;
width: 25%;
display: block;

}

.header_action {
  letter-spacing: -0.12px;
  color: hsl(220, 60%, 99%);
  text-align: center;
  margin-right: 0; /*add edit*/
}

.header_action:hover {
  background-color: #da6c96;
}

a{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: hsl(207, 33%, 32%);
  opacity: 0.7;
  letter-spacing: -0.10px;
}

a:hover{
      opacity: 1;
}

.button {
padding: 15px 26px;
border-radius: 24px;
background-color: hsl(337, 48%, 49%);
box-shadow: 10px 10px 25px rgba(55, 84, 109, 0.268);
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.115px;
border:none;


}

.button:hover{
  opacity: 0.7;
}

.links a:not(:first-of-type) {
  margin-left: 2.5rem;
}
/*header end*/
/*footer start*/
.footer {
  display:flex;
  justify-content:space-between;
  align-items: center;
  background: #1B262F;
  background-image: url("IMG/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: 980px -150px;
  padding: 31px 165px;
   
  }
  
  .footer_logo {
    flex: 1;
  }
  
  .footer_logo a {
    opacity: 1;
  }
  
  .footer_section {
    flex: 3;
    display: flex;
    justify-content: space-between;
  }
  
  .footer_links a {
    color: hsl(220, 60%, 99%);
  }
  
  .footer_social i{
    color: hsl(220, 60%, 99%);
    font-size: 24px;
  }
  
  .footer_social i:hover {
    color: hsl(337, 60%, 64%);
  }
  
  .footer_social i:not(:first-child) {
    margin-left: 24px;
  }
  /*footer end*/
  @media (max-width: 767px) {
    .header .nav {
      flex: 1;
      justify-content: flex-end;
    }
  
    .header .navigation--active {
      position: absolute;
      background-color: #1c2731;
      background-image: url(/IMG/shared/desktop/bg-pattern-circle.svg);
      background-repeat: no-repeat;
      background-size: 800px auto;
      background-position: center -33.75rem;
      top: 0;
      right: 0;
      left: 4.6875rem;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 2.73125rem 1.5rem 0;
      gap: 2rem;
      animation: slideIn 1s;
    }
  
    .header .navigation--active .navigation_menu {
      align-self: flex-end;
    }
  
    .header .navigation--active .navigation_menu span {
      background: white;
    }
  
    .header .navigation--active .navigation_links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      border-top: 1px solid rgba(251, 252, 254, 0.15);
      width: 100%;
      padding: 2.6875rem;
    }
  
    .header .navigation--active .navigation_links a {
      font-size: 1.25rem;
      opacity: 0.7;
      color: #fbfcfe;
    }
  
    .header .navigation--active .navigation_action {
      opacity: 1;
      width: 100%;
      display: block;
    }
    .header_menu span {
      display: block;
      width: 1.75rem;
      height: 0.1875rem;
      background: #1c2731;
      transition: all 600ms ease-in-out;
      transform-origin: 4px 2px;
    }
    
    .header_menu span:not(:first-child) {
      margin-top: 0.25rem;
    }
    
    .header_menu--active span:first-child {
      transform: rotate(45deg);
    }
    
    .header_menu--active span:nth-child(2) {
      opacity: 0;
    }
    
    .header_menu--active span:last-child {
      transform: rotate(-45deg);
    }
    
    .header_menu span:not(:first-child) {
      margin-top: 0.25rem;
    }
    
    .header_action {
      border:none;
      border-radius: 2.6rem;
      padding: 0.9rem 1.6rem;
      background-color: hsl(337, 48%, 49%);
      font-size: 0.9rem;
      font-weight: 700;
      color: hsl(220, 60%, 99%);
      opacity: 1;
    }
    
    .header_action:hover {
      background-color: hsl(337, 60%, 64%);
    }
  }
  @media (max-width: 767px) {
    .form-email .btn-form {
      text-align: center;
    }
  }
  
  .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 10rem;
  }
  
  @media (max-width: 1023px) {
    .header {
      padding: 2.5rem;
    }
  }
  
  @media (max-width: 767px) {
    .header {
      padding: 2.5rem 1.5rem;
    }
  }
  @media (max-width: 767px) {
    .hide_mobile {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .hide_desktop {
      display: none;
    }
  }
  
  @media (min-width: 768px) {
    .hide_tablet {
      display: none;
    }
  }
  
  .links a:not(:first-of-type) {
    margin-left: 2.5rem;
  }
  
  @media (max-width: 767px) {
    .links a:not(:first-of-type) {
      margin-left: 0;
    }
  }
  