@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');
:root {
  /* Font Family */
  --font-dm-serif: 'DM Serif Display', serif;
  --font-public-sans: 'Public Sans', sans-serif;
  /* Font sizes */
  --font-h1-large: 4.5rem; /* 72px */
  /* Basic spacing */
  --spacing-lg: 3rem; /* 48px */
  /* Screen sizes */
  --screen-xl: 1110px;
  /* Primary color */
  
  /* Text */
  --dark-text: hsl(207, 33%, 32%);
  --light-text: hsl(220, 60%, 99%);
  --accent-text: hsl(207, 16%, 50%);
  --faded-text: hsl(207, 33%, 32%); 
  /* Buttons */
  --primary-button-hover: hsl(337, 60%, 64%);




 /* __________BACKGROUND__________ */

--color-background: #edf3f8; 



 /* __________PRIMARY__________ */ 

 --color-primary-dark-pink: hsl(337, 48%, 49%);

}
/*
__________PRIMARY__________

$color-primary-link-water-white: hsl(220, 60%, 99%);



/*

__________SECONDARY__________
$color-secondary-san-juan-blue: hsl(207, 33%, 32%);
$color-secondary-mirage-blue: hsl(207, 27%, 15%);
$color-secondary-charm-pink-active: hsl(337, 60%, 64%);
$color-secondary-light-san-juan-blue: hsl(207, 16%, 50%);

__________TYPOGRAPHY__________
__________FONT FAMILIY __________      
$font-dm: 'DM Serif Display', serif-display;
$font-public-sans: 'Public Sans', public-sans;

__________HEADIGS__________
$heading-h1-large: 72px, 72px line; DM
$heading-h1-small: 56px, 56px line; DM
$heading-h2: 48px, 56px line; DM
$heading-h3-big: 32px, 40px line; DM
$heading-h3-small: 18px, 25, line; Public sans
$heading-h4::after24px, 32 px line; DM

__________BODY__________
$body-body: 15px, 28px line; Public sans

__________BUTTONS__________
__________PRIMARY__________
$btn-primary-normal-state-light:
$btn-primary-hover-state-licht: 
$btn-primary-disable-state-light: 

__________SECONDARY__________
$btn-secondary-normal-state-light:
$btn-secondary-hover-state-light: 
$btn-secondary-disable-state-light: 
$btn-secondary-normal-state-dark: 
$btn-secondary-hover-state-dark: 
$btn-secondary-disable-state-dark: 

__________CHECKBOX__________
$checkbox-normal-state: 
$checkbox-active-state: 
$checkbox-disable-state: 


CSS
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: #EDF3F8;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    color: #6b8294;
  }

  h1, h2, h4, h5 {
    font-family: "DM Serif Display", serif;
  }
  
  h1 {
    font-size: 4.5rem;
    color: #36536b;
    line-height: 4.5rem;
    letter-spacing: -0.55px;
  }

  button, .button {
    padding: 0.9375rem 1.5625rem;
    border-radius: 1.5rem;
    background-color: #b9416f;
    box-shadow: rem(10) rem(10) rem(25) rgba(55, 84, 109, 0.268);

    */