*,
:after,
:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fullscreen {
    width: 1440px;
    height: 3066px;
    background: #EDF3F8;
    margin: 0 auto;
}

.cta {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10.3125rem;
    line-height: 1.5;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 0;

}

.cta__container {
    -webkit-flex: 1 1 40%;
    flex: 1 1 40%;

}

.header__title {
    font-family: "DM Serif Display", serif;
    color: #36536b;
    padding: 0 .9375rem;
    text-align: left;
    font-size: 4.5rem;
    line-height: 72px;
    letter-spacing: -.55px;
    margin-top: -6rem;
    margin-bottom: 3.375rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.hero__container {
    display: flex;
    flex-direction: row-reverse;
    min-width: 1440px;
    height: 472px;
    flex-shrink: 0;
    background-color: #1b262f;
    padding-bottom: 6.95rem;
    align-items: flex-end;

}

.hero__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
    place-items: center;
    filter: brightness(0) invert(1);

}

.hero {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
}

.main .hero__signup {
    color: #fff;
    text-align: center;
    padding-top: 0.3125rem;
    max-width: 457px;
    margin: auto;
}

.hero__summary {
    font-family: "Public Sans", sans-serif;
    color: #fff;
    margin: 0;
    font-size: .9375rem;
    line-height: 28px;
    font-weight: 200;
    text-align: left;
    padding: 1.25rem 0;
    opacity: 0.7;
}

.hero__title {
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
    color: #FBFCFE;

}


.cards__one .terminal_card {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin: 100px;
}

.cards__two {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 2.4375rem;

    gap: 15px;
}

.cta__summary {
    line-height: 1.5;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 1.5rem;
    margin: auto;
    flex: 1 1 60%;
    max-width: 100%;
}


.hero__image__container {
    margin-left: 100px;
}

.two_phones_card {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 165px;
    margin-right: 70px;
}

.card__title {

    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
}

.card__title2 {

    color: #36536B;
    font-family: DM Serif Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.369px;
}

.card__summary {
    color: #6C8294;
    font-family: Public Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.card__description {
    width: 445px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.first_banking_icon {
    margin-bottom: 30px;
}

.second_stock_icon {
    margin-bottom: 30px;
}

.third_wallet_icon {
    margin-bottom: 30px;
}

.first_div_element_personal_finances {
    color: #36536B;

    text-align: center;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: -0.138px;
}

.second_div_element_stock_market {
    color: #36536B;

    text-align: center;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: -0.138px;
}

.third_div_element_wallet_icon {
    color: #36536B;

    text-align: center;
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: -0.138px;
}


.card__summary {
    margin-top: 10px;
}

.form-email {
    background-color: hsl(220, 60%, 99%);
    border-radius: 24px;
    display: flex;
    width: 445;
    box-shadow: 10px 10px 25px -10px hsla(207, 33%, 32%, 0.251);
}

.btn-form {
    border: none;
    border-radius: 24px;
    padding: 15px 26px;
    background-color: hsl(337, 48%, 49%);
    font-size: 15px;
    font-weight: 700;
    color: hsl(220, 60%, 99%);
}

.cta__questions {
    line-height: 1.5;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    padding: 0;
    box-sizing: border-box;
    margin: 1.5rem auto 0;
    color: #6c8294;
    text-align: left;
}

.cta__summary--anchor {
    line-height: 1.5;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: .1rem .5rem;
    color: #6c8294;
    font-weight: 700;
}

.hero-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 445px;
    top: 15px;
    right: 0;

}

.hero-form__button {
    box-sizing: border-box;
    position: absolute;
    top: 0.5px;
    right: 0;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 24px;
    background-color: var(--color-primary-dark-pink);
    color: var(--light-text);
    padding: 16px 26px;
}

.hero-form__small {

    font-family: var(--font-public-sans);
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--accent-text);
    margin: 24px 25px;
}

.hero-form__span {
    font-weight: bold;
}

.input {
    width: 445px;
    height: 52.5px;
    flex-shrink: 0;
    border-radius: 24px;
    border: none;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    font-family: var(--font-public-sans);
    color: var(--light-text);
    font-weight: bold;
    padding: 16px 22px;
}

.link--btn {
    line-height: 1.5;
    font-family: "Public Sans", sans-serif;
    text-align: center;
    font-size: 1rem;
    letter-spacing: -.12px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: .9rem 1.8rem;
    border-radius: 24px;
    margin: 56px auto 0;
    max-width: 130px;
    margin-left: 0;
}

.button_about_us {
    margin-top: 20px;
}

.card__image {
    width: 106px;
    height: 106px;
}

